build/AmoniaMonitoring.ino.bin
build/AmoniaMonitoring.ino.elf
build/AmoniaMonitoring.ino.hex
build/AmoniaMonitoring.ino.map
build/AmoniaMonitoring.ino.with_bootloader.bin
build/AmoniaMonitoring.ino.with_bootloader.hex
build/sketch/AmoiniaMonitoringWifi.cpp.o
build/
